@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: #fff;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  width: 300px;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #17141d;
  box-shadow: -1rem 0 2rem #000;
}
h2 {
  text-align: center;
  width: 500px;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #17141d;
  box-shadow: -1rem 0 2rem #000;
}
h4 {
  color: #fff;
  text-align: center;
  padding: auto;
  margin: 10px auto;
  font-size: large;
}

.logo {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
}

.logo img {
  max-width: 100%;
  height: auto;
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .logo img {
    width: 80px;
    height: 80px;
  }
}

.navbar {
  background-color: #17141d;
  color: #fff;
  padding: 10px;
}

.navbar-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1rem 0 3rem #000;
  padding: 0 auto;
  border-radius: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}

.search-container input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  width: 200px;
  background-color: #222;
  color: #fff;
}

.search-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #b54b4b;
  color: #fff;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #1f0838;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-items {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.navbar-menu .navbar-item button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #b54b4b;
  color: #fff;
  cursor: pointer;
}

.navbar-menu .navbar-item button:hover {
  background-color: #1f0838;
}

@media screen and (min-width: 768px) {
  .search-container {
    max-width: 400px;
    margin: 10px auto;
  }
}

.card {
  width: auto;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  margin: 10px;
  clear: both;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-right: 15px;
}

.card h2 {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}

.card p {
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin: 10px 0;
  }

  .cards-container {
    justify-content: center;
    align-items: center;
  }
}

.visit-channel-btn {
  display: block;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #242525;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

.visit-channel-btn:hover {
  background-color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

footer {
  background-color: #17141d;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  transition: color 0.3s;
  width: 50%;
  margin: 20px auto;
  box-shadow: -1rem 0 3rem #000;
}

footer:hover {
  color: #0000ff;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  footer {
    width: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  position: relative;
  overflow: auto;
  height: 100vh;
}
